In [1]:
#latihan 1
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
    # slicing list
print (a[1:5])

# Expected Output :

# [ '13b', 'aa1', 1.32, 22.1 ]

['13b', 'aa1', 1.32, 22.1]

In [13]:
#latihan 2
a = [1.32, 22.1, 2.34]
b = ['1', '13b', 'aa1']
c = [3, 40, 100]
    # combine list
print([a,b,c])
# Expected Output :

# [ [1.32, 22.1, 2.34], [3, 40, 100], ['1', '13b', 'aa1'] ]

[[1.32, 22.1, 2.34], ['1', '13b', 'aa1'], [3, 40, 100]]

In [9]:
#latihan 3
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
    # subsetting list
x = a[1]
print(x[1:3])

# Expected Output :

# [0, 6]

[0, 6]

In [5]:
#latihan 4
p = [0, 5, 2, 10, 4, 9]
    # ordered list
print(sorted(p, reverse=False))
    # get max value of list
print(max(p))


# Expected Output :

# [0, 2, 4, 5, 9, 10]

# 10

[0, 2, 4, 5, 9, 10]
10

In [4]:
#latihan 5
a = [1, 3, 5]
b = [5, 1, 3]
    # combine list
print(b+a)

# Expected Output :

# [5, 1, 3, 1, 3, 5]

[5, 1, 3, 1, 3, 5]

In [4]:
#latihan 6
a = [
    [5, 9, 8],
    [0, 0, 6]
    ]
    # change list value
b=a[0]
b[2]=10
print()
    # change list value
c=a[1]
c[0]=11
print()

print(a)

# Expected Output :

# [ [5, 9, 10], [11, 0, 6] ]

[[5, 9, 10], [11, 0, 6]]

In [7]:
#latihan 7
areas = ["hallway", 11.25, "kitchen", 18.0,
         "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

    # Hilangkan elemen yang bernilai "bathroom" dan 10.50 dalam satu statement code
del areas[8:10]
print(areas)

# Expected Output:

# ['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

In [14]:
#latihan 8
S = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

T = [x for x in S if x%2==0]
print(T)

# Expected Output:

# [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

In [22]:
#latihan 9
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

    # print semua key yang ada di objek europe
x=dict.keys(europe)
print (x)
    # print nilai dari key franche
print (europe['france'])

# Expected Output:

# dict_keys(['spain', 'france', 'germany', 'norway'])

# paris

dict_keys(['spain', 'france', 'germany', 'norway'])
paris

In [3]:
#latihan 10
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

    # tambahkan key itali ke objek dictionary dengan value roma
europe['itali']='roma'
print(europe)
    # cek apakah itali ada di dalam objek dictionary
if 'itali' in europe:
    x = True
    print(x)

# Expected Output:

# True

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'itali': 'roma'}
True

In [32]:
#latihan 11
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
            'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
            'australia':'vienna' }

    # update nilai ibukota german ke berlin
europe['germany']= 'berlin'
    # remove australia dari europa
del europe['australia']
print(europe)

# Expected Output:

# {'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [20]:
#latihan 12
country = { 
            'spain': { 'capital':'madrid', 'population':46.77 },
            'france': { 'capital':'paris', 'population':66.03 },
            'germany': { 'capital':'berlin', 'population':80.62 },
            'norway': { 'capital':'oslo', 'population':5.084 } 
            }

    # berapa populasi dari kota german?
x = country['germany']
y = x['population']
print (y)
    # update data baru, yaitu negara indonesia dengan capital jakarta dan poulasi 250
country['indonesia']={'capital':'jakarta' , 'population':250}
print(country)

# Expected Output:

# 80.62

# {'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'indonesia': {'capital': 'jakarta', 'population': 250}}

80.62
{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'indonesia': {'capital': 'jakarta', 'population': 250}}

In [10]:
#latihan13
country = { 
            'spain': { 'capital':'madrid', 'population':46.77 },
            'france': { 'capital':'paris', 'population':66.03 },
            'germany': { 'capital':'berlin', 'population':80.62 },
            'norway': { 'capital':'oslo', 'population':5.084 },
            'indonesia' : {'capital':'jakarta', 'population':250}
            }

for i in country:
     
    print('Ibukota '+ i +' adalah '+ country[i]['capital'])

# Expected Output:

# Ibukota spain adalah madrid

# Ibukota france adalah paris

# Ibukota germany adalah berlin

# Ibukota norway adalah oslo

# Ibukota indonesia adalah jakarta

Ibukota spain adalah madrid
Ibukota france adalah paris
Ibukota germany adalah berlin
Ibukota norway adalah oslo
Ibukota indonesia adalah jakarta